body {
    background-color: #fce4ec;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    margin: 25px;
}

#title {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
    font-size: 20px;
}
