body,
html {
  font-family: "Roboto Slab", Arial, sans-serif;
  background-color: #fce4ec;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#game-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fce4ec;
  position: relative;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  background-color: #ff7eb9;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#scoreboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  text-align: center;
}

#date {
  margin: 0;
}
